*, ::before, ::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans,Raleway,Ubuntu,PT Sans,Work Sans,Roboto', sans-serif;

    color: #1b1b1b;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    overflow: auto;
}

a {
    text-decoration: none;
}

/* ====
HEADER
==== */

header {
    text-align: center;
  
    padding-top: 200px;
    padding-bottom: 30px;
  
    background: #212121;
  
    width: 100%;
    overflow: hidden;
    margin-top: -5.25%;
    transform: skewY(-6deg);
    backface-visibility: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: url('../images/banner-v3-compressed.jpg');
  -webkit-filter: blur(2.8px);
  -moz-filter: blur(2.8px);
  -o-filter: blur(2.8px);
  -ms-filter: blur(2.8px);
  filter: blur(2.8px);
}
  
  header h1.title {
    font-family: 'Raleway';
    font-weight: 400;
    color: #ecf0f1;
    font-size: 45px;
  
    margin-bottom: 5px;
  }
  
  header h3.subtitle {
    margin-top: 5px;
  
    font-family: 'Raleway';
    font-weight: 400;
    color: #bdc3c7;
    font-size: 25px;
  }
  
  header a.social {
    margin: 30px 5px 5px 5px;
  }
  
  header a.social img {
    width: 64px;
    cursor: pointer;
  }
  
  header .container {
    transform: skewY(6deg);
  }

  .avatar {
    position: relative;
    margin: 0 0 30px 30px;
  }

  .avatar img {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  }

  /* ====
CONTENT
==== */

section {
    margin-top: -80px;

    text-align: center;
  }
  
  section p {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    color: #95a5a6;
  }
  
  section p.italic {
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
  }
  
  section h2 {
    margin-bottom: 60px;
  
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 500;
    color: #2c3e50;
    text-transform: uppercase;
  }

  section h2.title{
      margin-bottom: 5px;
  }
  
  section .technos {
    margin-top: 40px;
    margin-bottom: 220px;
  }
  
  section .technos i {
    font-size: 70px;
    margin: 5px;
  }
  
  section.colored {
    margin-top: -70px;
    padding-top: 30px;
    padding-bottom: 130px;
  
    background: rgba(21, 101, 192, 1);
    transform: skewY(-6deg);
    backface-visibility: hidden;
  }
  
  section.colored .container {
    transform: skewY(6deg);
  }
  
  section.colored h2 {
    color: #ecf0f1;
  }
  
  section.colored h2 span {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    color: #95a5a6;
    text-transform: none;
  }

  section.works {
    margin-top: -70px;
    padding-top: 30px;
    padding-bottom: 130px;
  
    background: #1976D2;
    transform: skewY(-6deg);
    backface-visibility: hidden;
  }
  
  section.works .container {
    transform: skewY(6deg);
  }
  
  section.works h2 {
    color: #ecf0f1;
  }
  
  section.works h2 span {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    color: #ecf0f1;
    text-transform: none;
  }

  section.works p.subtitle {
      color: #ecf0f1;
  }
  
  section h2.mail {
    margin-top: 60px;
  }

  @media only screen and (max-width: 780px) {
    .avatar {
        visibility: hidden;
        opacity: 0;
    }
    header {
        padding-top: 30px;
    }
  }
  @media only screen and (max-width: 370px) {
    section h2.mail {
        font-size: 23px;
    }
    header {
        padding-top: 0;
    }
  }


  #skills {
      padding-top: 180px;
  }
  
  #about a {
    color: #1E88E5;
    text-decoration: none;
  }

  #about a:hover {
    color: #0D47A1;
    text-decoration: none;
  }

  #works {
      padding-top: 100px;
  }

  #rootme img {
      width: 64px;
  }

  #rootme img.root_logo{
      width: 250px;
  }

  #rootme .challenge {
    padding-top: 30px;
    color: #ecf0f1;
  }

  #rootme .button_challenge{
    padding-top: 50px;
  }

  #rootme a {
    color: white;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
    text-decoration: none;
  }
  #rootme a .text {
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  #rootme a:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: #f26522;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
  }
  #rootme .line {
    position: absolute;
    background: #f26522;
  }
  #rootme .line.-right, #rootme .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
  }
  #rootme .line.-top, #rootme .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
  }
  #rootme .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
  }
  #rootme .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
  }
  #rootme .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
  }
  #rootme .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
  }
  #rootme a:hover .text,
  #rootme a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  #rootme a:hover:after,
  #rootme a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  }
  #rootme a:hover .line,
  #rootme a:active .line {
    transform: scale3d(1, 1, 1);
  }
  #rootme a:hover .line.-right,
  #rootme a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
  }
  #rootme a:hover .line.-top,
  #rootme a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
  }
  #rootme a:hover .line.-left,
  #rootme a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
  }
  #rootme a:hover .line.-bottom,
  #rootme a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
  }

  #contact {
      padding-top: 180px;
  }

  /* ====
TOOLTIP
==== */

.tooltip {
    position: relative;
    cursor: default;
    display: inline-block;
  }
  .tooltip .title {
    background-color: #1E88E5;
    padding: 5px 0px;
  
    color: #ecf0f1;
    text-align: center;
  
    border-radius: 6px;
  
    position: absolute;
    width: 80px;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
    margin-bottom: 10px;
  
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    z-index: 1;
  }
  .tooltip .title:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1E88E5 transparent transparent transparent;
  }
  .tooltip:hover .title {
    opacity: 1;
    visibility: visible;
  }

  /* ====
FOOTER
==== */

footer {
    width: 100%;
    height: 50px;
  
    background-image: url('../img/geometry2.png');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
  }
  
  footer p {
    color: #34495e;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
  
    float: right;
    margin: 5px;
    margin-right: 10px;
  }
